* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #f6e231;
    --second-color: #2a2929;
    --white-color: #f2f2f2;
    --font-size: 18px;
    --max-width: 1400px;
    --nav-heigt: 70px;
  }
  
  ::selection {
    background-color: var(--main-color);
    color: var(--second-color);
  }
  
  
  html {
    scroll-behavior: smooth;
    min-width: 500px;
  }
  
  
  body {
    background-color: var(--second-color);
    color: var(--white-color);
    font-family:sans-serif;
  }